:root {
  --primary-color: #e6b24e;
  --secondary-color: #254b41;
}

.container {
  display: flex;
  gap: 50px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.btn-container {
  background-color: var(--secondary-color);
  padding: 17px 20px;
}

.btn-primary {
  background-color: var(--primary-color);
  border-radius: 12px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 18px 45px;
  
}

